{% extends "../site-wrapper.njk" %}

{% block content %}
  <h1>Welcome to the Isles of Scilly Posters website</h1>
  <p>This site is dedicated to showcasing and selling posters inspired by the beautiful Isles of Scilly. Explore our collection and find the perfect poster to bring a touch of the islands into your home.</p>
  <p>Feel free to browse through our gallery, learn about the artists, and make a purchase. Thank you for visiting!</p>
{% endblock %}